<div ng-controller="playStationCtrl">
	<style type="text/css">
		
		.timeFinished{
			background-color: red;
		}
		.time-details span.hideinvoiceDetails{
			display: none;
			position: absolute;
		}
		.time-details:hover span.hideinvoiceDetails{
			display: block;
		}
	</style>
	<div class="row">
			<h4>Add Customer</h4>
			<table class="table">
				<thead>
					<tr><td>Name</td><td>System Number</td><td>Players</td><td>Duration</td><td>Amount</td><td></td></tr>
				</thead>
				<tr>
					<td>
						<input type="text" ng-model="waiting.customer.name" class="form-control"/>
					</td>
					<td>
						<select ng-model="waiting.systemNumber" class="form-control" ng-change="calculateAmount()">
							<option value="null">Select</option>
							<option ng-repeat="option in numberOfSystems" value={{option}} ng-if="!systemStatus($index+1)">Sys #{{option}}</option>
						</select>
					</td>
					<td><select ng-model="waiting.members.count" class="form-control" ng-change="calculateAmount()" ng-options="value.value as value.key for (key, value) in membersList">
						<option value="null">Select Players</option>
					</select>
				</td>
				<td>
					<select ng-model="waiting.duration.hours" class="form-control" ng-change="calculateAmount()" ng-options="value.value as value.key for (key, value) in durationsList">
						<option value="null">Select Duration</option>
					</select>
				</td>
				<td>{{waiting.amount}}</td>
				<td>
					<button class="btn btn-xs btn-primary" ng-disabled="enableWait1()" ng-click="wait(waiting)">Wait</button>
					<button class="btn btn-xs btn-primary" ng-disabled="enableStart()" ng-click="start(waiting, waiting.systemNumber)">Start</button>
				</td>
			</tr>
		</table>
		<div ng-if="waitingList.length">
		<h4>Waiting Customers</h4>
		<table class="table">
		<tr><th>Name</th><th>System Number</th><th>Players</th><th>Duration</th><th>Amount</th><th></th></tr>
			<tr ng-repeat="cust in waitingList track by $index">
				<td>{{cust.customer.name}}</td>
				<td>
					<select ng-model="cust.systemNumber" class="form-control">
					<option value="">Select</option>
						<option ng-repeat="option in numberOfSystems" value={{option}} ng-if="!systemStatus($index+1)">{{option}}</option>
					</select>
				</td>
			<td>{{membersList[cust.members.count-1].key}}</td>
				<td>{{durationsList[cust.duration.hours-1].key}}</td>
					<td>
				</td>
				<td>
					<button class="btn btn-xs btn-primary" ng-click="assignSystem(cust, cust.systemNumber, $index)">Assign</button>
					<button class="btn btn-xs btn-primary" ng-click="removeWaiting($index)">Remove</button>
				</td>
			</tr>
		</table>
	</div>
	<h4>Active Customers
		</h4>
	<table class="table">
		<thead>
			<tr>
				<th>Sys</th>
				<th>Name</th>
				<th>Members</th>
				<th>Duration</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Amt</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="system in systems track by $index" ng-class="{'timeFinished': system.timeFinish}" ng-if="system.status">
				<td>
					<span class="pull-left" ng-if="!system.editMode">{{system.systemNumber}}</span>
					<div ng-if="system.editMode">					
					<select ng-model="system.systemNumber" class="form-control">
						<option ng-repeat="option in numberOfSystems" value={{option}} ng-if="!systemStatus($index+1)">{{option}}</option>
					</select>
				</div>
			<audio id="play{{$index}}" src="/audio/beep-07.wav" loop="false"></audio>
		</td>
		<td>
			<div>
				<!-- 				
				<input type="text" ng-model="system.customer.name" ng-keyup="enableStart(system, $index)" ng-disabled="system.customer.disable" class="form-control" />
				-->
				{{system.customer.name}}
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-xs btn-primary" ng-disabled="system.editBtn.disable" ng-if="system.editBtn.show" ng-click="edit(system, $index)">Edit</button>
					<button class="btn btn-xs btn-primary" ng-if="system.updateBtn.show" ng-click="update(system, $index)">Update</button>
					<button class="btn btn-xs btn-primary" ng-if="system.cancelBtn.show" ng-click="cancel(system, $index)">Cancel</button>
					<button class="btn btn-xs btn-primary" ng-if="system.continueBtn.show" ng-click="continue(system, $index)">Continue</button>
				</div>
			</div>
		</td>
		<td>
			<div ng-if="!system.editMode">{{membersList[system.members.count-1].key}}</div>
			<div ng-if="system.editMode">
				<select name="memberCount{{$index}}" class="form-control" ng-model="system.members.count" ng-change="enableStart(system, $index)" ng-disabled="system.members.disable" ng-options="value.value as value.key for (key, value) in membersList">
				</select>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-xs btn-primary" ng-disabled="system.stopBtn.disable" ng-if="system.stopBtn.show" ng-click="stop(system, $index)">Stop</button>
					<button class="btn btn-xs btn-primary" ng-if="system.cancelGameBtn.show" ng-click="cancelGame(system, $index)" title="Cancel Game">Cancel Game</button>
				</div>
			</div>
		</td>
		<td>
			<div ng-if="!system.editMode">{{durationsList[system.duration.hours-1].key}}</div>
			<div ng-if="system.editMode">
				<select ng-model="system.duration.hours" ng-change="enableStart(system, $index)" ng-disabled="system.duration.disable" class="form-control" ng-options="value.value as value.key for (key, value) in durationsList">
				</select>
			</div>
		</td>
		<td class="time-details">
			<div ng-if="system.editStartTimePanel.show">
				<div uib-timepicker ng-model="system.startTime.value" show-meridian="true"></div>
			</div>
			<div ng-if="!system.editStartTimePanel.show">{{system.startTime.value | date: 'h:mm a'}}
			</div>
		</td>
		<td>{{system.endTime.value | date: 'h:mm a'}}</td>
		<td class="time-details">{{system.amount}}
			<span class="hideinvoiceDetails" ng-if="system.invoiceDetails.length">
				<table class="table">
					<thead><tr><th>Mem</th><th>Dur</th><th>Min</th><th>Amt</th></tr></thead>
					<tr ng-repeat="invoice in system.invoiceDetails">
						<td>{{invoice.mem}}</td><td>{{invoice.duration.st | date: 'h:mm a'}} - {{invoice.duration.et | date: 'h:mm a'}}</td><td>{{invoice.mins}}</td><td>{{invoice.amt}}</td>
					</tr>
				</table>
			</span>
		</td>
	</tr>
</tbody>
</table>
	<div class="pull-right">
			<button class="btn btn-xs btn-primary" ng-click="cleanSystems()">Clean Systems</button>
		</div>

</div>
<div class="row">

<h4>Completed Customers</h4>
<table class="table completedCustmer">
<thead><tr><td>Sys #</td><td>Name</td><td>Invoice</td><td>Amount</td></tr></thead>
<tbody>
	<tr ng-repeat="cust in customers track by $index">
		<td>{{cust.systemNumber}}</td>
		<td>{{cust.customer.name}}</td>
		<td>
			<table class="table">
				<thead><tr><th>Members</th><th>Duration</th><th>Min</th></tr></thead>
				<tr ng-repeat="invoice in cust.invoiceDetails">
					<td>{{invoice.mem}}</td><td>{{invoice.duration.st | date: 'h:mm a'}} - {{invoice.duration.et | date: 'h:mm a'}}</td><td>{{invoice.mins}}</td>
				</tr>
			</table>
		</td>
		<td>{{cust.amount}}</td>
	</tr>
</tbody>
</table>
<div class="pull-right">
<button class="btn btn-xs btn-sm btn-primary" ng-click="cleanCustomers()">Clean Customers</button>
</div>
</div>